<%-include("partials/header");-%>





    <form name="search" action="/updateall" method="GET">
        <div class="container mw-100 mh-100">
                <div class="row rep"></div>
                <div class="row">
                    <div class="row">
                        <div class="col-12 text-center">
                            <select id="projeto" name="proId" class="w-50 text-center" onchange="this.form.submit()">
                                <option value= ""></option>
                                <%projetos.forEach(function(projeto){%>
                                    <option value= "<%=projeto._id%>"><%=projeto.nomeDoProjeto%></option>
                                <%})%>
                            </select>
                        </div>
                    </div>
    </form>

    
                
            </div>
            <div class="row">
                <div class="col-2 text-white">Nome do Projeto</div>
                <div class="col-2 text-white">Descrição</div>
                <div class="col-2 text-white">Comentario Atualização</div>
                <div class="col-1 text-white">Centro de Custo</div>               
                <div class="col-1 text-white">Número do Contrato</div>
                <div class="col-1 text-white">Valor</div>
                <div class="col-1 text-white">Orgão</div>
                <div class="col-1 text-white">Data Início</div>
                <div class="col-1 text-white">Data Término</div>
                
                


            </div>
    
<form action="/updateall" method="post">
       
            <div class="row text-center">
                <input class="rep-field w-100" name="projectid" type="hidden" value="<%=selectedProject._id%>">
                <div class="col-2"><input class="rep-field w-100" name="nomeprojeto" type="text" value="<%=selectedProject.nomeDoProjeto%>"></div>
                <div class="col-2"><input class="rep-field w-100" name="descricao" type="text" value="<%=selectedProject.descricao%>"></div>
                <div class="col-2"><input class="rep-field w-100"  name="problemComment" type="text" value="<%=selectedProject.problemComment%>"></div>
                <div class="col-1"><input class="rep-field w-100"  name="centrocusto" type="text" value="<%=selectedProject.centroCusto%>"></div>
                <div class="col-1"><input class="rep-field w-100"  name="numerocontrato" type="text" value="<%=selectedProject.numeroContrato%>"></div>
                <div class="col-1"><input class="rep-field w-100"  name="valor" type="text" value="<%=selectedProject.valor.toLocaleString("de-DE", {minimumFractionDigits: 2, maximumFractionDigits: 2})%>"></div>
                <div class="col-1"><input class="rep-field w-100"  name="orgao" type="text" value="<%=selectedProject.orgao%>"></div>
                <div class="col-1"><input class="rep-field w-100"  name="dataInicio" type="date" value="<%=selectedProject.dataInicio%>"></div>
                <div class="col-1"><input class="rep-field w-100"  name="dataTermino" type="date" value="<%=selectedProject.dataTermino%>"></div>
    
            </div>

        <div class="text-center rep"></div>
        <div class="text-center"><button type="submit">Atualizar</button></div>
</form>       
    <div class="row rep"></div>
    <div class="text-center">
        <div class="">

        </div>
        
    </div>

    <div class="row">
        <a class="a" href="/menuadm"> Voltar para Menu</a>
    </div>

    
</div>

<%-include("partials/footer");-%>